/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif!important;
    color: #111011;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

body{
    width: 100%;
    height: 100%;
}
.headText h2{
    font-size: 36px;
    line-height: 60px;
    color: #111011;
    font-weight: 600;
    text-align: center;
}
/* HEADER */
.header{
    width: 100%;
    background-color: #FFFFFF;
}
.header__content{
    max-width: 1200px;
    padding: 20px 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111011
}
.header__content ul{
    display: flex;
    list-style: none;
}
.header__content ul li{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.header__content ul li a{
    color: #111011;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    background-color: #111011;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 100vh;
    width: 960px;
    position: fixed;
    z-index: 10;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
}
.menu a{
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    line-height: 120px;
    text-decoration: none;
    cursor: pointer;

}
.menu button{
    height: 120px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.menu button:hover{
    border-bottom: solid #FFFFFF;
    color: #FFFFFF;
}
.show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
} 
/* PRODUCT DETAIL */
.detailProduct {
    padding: 40px 200px; 
}
.detailProduct_content{   
    max-width: 1200px; 
    margin: auto; 
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    gap: 10px;
}
.imageList{
    width: 10%;
}
.imgFilter img{
    width: 100%;
    cursor: pointer;
}
.imgShow{
    width: 40%;
}
.imgMain{
    width: 100%;
}
.img img{
    width: 100%;
}
.productInfo{
    width: 40%;
}
.info h1{
    font-size: 36px;
    line-height: 60px;
    color: #111011;
    font-weight: 600;
}
.info p{
    font-size: 16px;
    line-height: 20px;
    color: #111011;
    margin: 20px 0;
    
}
.price{
    color: #111011;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.btn-add{
    width: 200px;
    border: none;
    background-color: #111011;
    color: #FFFFFF;
    font-size: 16px;
    padding: 15px 20px;
    margin-top: 15px;
    cursor: pointer;
}
.btn-size{
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 0;
    border: 1px solid gray;
    margin-top: 15px;
    transition: 1s;
    cursor: pointer;
}
.btn-size.active{
    background-color: #111011;
    color: #FFFFFF;
}
.size{
    margin-bottom: 20px;
}
/* RECOMMEND ITEM */
.recommendItem{
    height: 100%;
    padding: 20px 200px;
    background-color: #FFFFFF;
}
.recommendList{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1200px;
    margin: auto;
    text-align: start;
    gap: 10px;
}
.contentItem{
    margin-top: 20px;
    width: 24%;
}
.contentItem img{
    width: 100%;
}
.contentItem a{
    text-decoration: none;
    color: #111011;
}
.collection{
    font-style: italic;
    font-size: 16px;
    color: gray;
    margin-bottom: 4px;
}
.price{
    color: #111011;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
}
.btn{
    background-color: #FFFFFF;
    border-radius: 0;
    border: 1px solid gray;
    padding: 10px 20px;
    margin-top: 15px;
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    border: none;
    background-color: #111011;
    color: #FFFFFF;
    cursor: pointer;
}
/* FOOTER */
.footer {
    width: 100%;
    padding: 40px 0;
    background-color: #111011;
}
.footer__content {
    max-width: 1200px;
    padding: 0 200px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.footer__content .contentLeft {
    width: 32%;
}
.footer__content .contentLeft h3 {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer__content .contentLeft ul li a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
.footer__content .contentMid {
    width: 32%;
    text-align: center;
}
.footer__content .contentMid ul li a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
.footer__content .contentRight {
    width: 32%;
    text-align: right;
}
.footer__content .contentRight h3 {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer__content .contentRight ul li a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
.footer hr {
    color: #ffffff;
    margin: 20px 0;
}
.copyright {
    padding: 10px 200px;
    text-align: center;
}
.copyright p {
    color: #ffffff;
}

/*------REPONSIVE 768PX------*/
/* GLOBAL */
@media only screen and (max-width: 768px) {
    .headText h2 {
      font-size: 20px;
      line-height: 40px;
      font-weight: 600;
    }
}   
/* HEADER */
@media only screen and (max-width: 768px) {
    .header__content {
        padding: 20px 30px;
    }
}
/* Menu */
@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
    }
    .menu button {
        font-size: 24px;
    }
}
/* PRODUCT DETAIL */
@media only screen and (max-width: 768px) {
    .detailProduct {
        padding: 20px 30px; 
    }
    .info h1{
        font-size: 30px;
        line-height: 40px;
    }
}
/* TRENDING PRODUCT */
@media only screen and (max-width: 768px) {
    .recommendItem {
      padding: 40px 0;
    }
    .recommendList {
      margin: 0 30px;
    }
    .contentItem {
      width: 48%;
      height: 100%;
    }
    .contentItem img {
      width: 100%;
    }
}
/* FOOTER */
@media only screen and (max-width: 768px) {
    .footer__content {
      flex-direction: column;
      padding: 0 20px;
    }
    .footer__content .contentLeft,
    .footer__content .contentRight,
    .footer__content .contentMid {
      width: 100%;
      text-align: center;
    }
    .copyright {
      padding: 0 30px;
    }
}

/*-----REPONSIVE 576PX-----*/
/* GLOBAL */
@media only screen and (max-width: 576px) {
    .body {
      font-size: 14px;
    }
  }
  
  /* HEADER */
  @media only screen and (max-width: 576px) {
    .header__content {
      padding: 10px 20px;
    }
  }
/* PRODUCT DETAIL */
@media only screen and (max-width: 576px) {
    .detailProduct {
        padding: 20px 20px;
        flex-wrap: wrap;
    }
    .imageList{
        width: 20%;
    }
    .imgShow{
        width: 70%;
    }
    .productInfo{
        width: 100%;
    }
}
/* RECOMMEND PRODUCT */
@media only screen and (max-width: 768px) {
    .recommendItem {
      padding: 20px 0;
    }
    .recommendList {
      margin: 0 20px;
    }
}