/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif!important;
    color: #111011;
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 0.5px;
}

body{
    width: 100%;
    height: 100%;
}
/* HEADER */
.header{
    width: 100%;
    background-color: #FFFFFF;
}
.header__content{
    max-width: 1920px;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111011
}
.header__content ul{
    display: flex;
    list-style: none;
}
.header__content ul li{
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.header__content ul li a{
    color: #111011;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    background-color: #111011;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    height: 100vh;
    width: 960px;
    position: fixed;
    z-index: 10;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
}
.menu a{
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 120px;
    text-decoration: none;
    cursor: pointer;

}
.menu button{
    height: 120px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.menu button:hover{
    border-bottom: solid #FFFFFF;
    color: #FFFFFF;
}
.show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
} 
/* CART */
.listCart__content{
    max-width:100%;
    padding: 20px 200px;
}
.listCart__content h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #111011;
    margin-bottom: 10px;
}
.cart-table{
    width: 100%;
}
.cart-header tr{
    display: table-row;
    vertical-align: inherit;
}
.cart-header tr th{
    padding: 30px 15px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.btn{
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #FFFFFF;
    border-radius: 0;
    border: 1px solid gray;
    transition: 1s;
    cursor: pointer;
}
.btn:hover{
    background-color: #111011;
    color: #FFFFFF;
}
.cart-row tr td img{
    width: 100px;
}
.cart-row tr td h3{
    font-size: 16px;
}
.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.quantity-btn {
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 0;
    border: 1px solid gray;
    transition: 1s;
    cursor: pointer;
}
.totalPrice{
    margin-top: 20px;
    justify-content: flex-end;
    text-align: right;
}
.totalPrice p{
    font-size: 18px;
    font-weight: 600;
}
/* FOOTER */
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #111011;
}
.footer__content{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.footer__content .contentLeft{
    width: 32%;
}
.footer__content .contentLeft h3{
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer__content .contentLeft ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__content .contentMid{
    width: 32%;
    text-align: center;
}
.footer__content .contentMid ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer__content .contentRight{
    width: 32%;
    text-align: right;
}
.footer__content .contentRight h3{
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.footer__content .contentRight ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer hr{
    color: #FFFFFF;
    margin: 20px 0;
}
.copyright{
    margin-top: 10px;
    text-align: center;
}
.copyright p{
    color: #FFFFFF;
}

/*------REPONSIVE 768PX------*/

/* GLOBAL */
@media only screen and (max-width: 768px){
    .headText h2{
        font-size: 20px;
        line-height: 40px;
        font-weight: 600;
    }
}
/* HEADER */
@media only screen and (max-width: 768px){
    .header__content{
        padding: 20px 40px;
    }
}
@media only screen and (max-width: 768px){
    .menu {
        width: 100%;
    }
}